.art-pieces-wrapper
  - art_pieces.each do |art_piece|
    .art-piece-item
      = link_to art_piece_path(art_piece), class: 'art-piece-item__art-piece-link'
        .art-piece-item__image-wrapper
          .art-piece-item__image
            img[class=art_piece.wide_or_tall?.to_s
              src=art_piece.image.url]
        .art-piece-item__name
          = art_piece.name.to_s
        .art-piece-item__author-price-wrapper
          .art-piece-item__author
            = art_piece.author
          .art-piece-item__price
            = art_piece.price
