.art-piece-wrapper
  .art-piece-image
    img[src=art_piece.image]
  .art-piece-description
    h1.art-piece-description__name
      = art_piece.name
    h4.art-piece-description__author
      = art_piece.author.name
    .art-piece-description__price
      = price_in_pounds art_piece.price
    .art-piece-description__description
      = raw art_piece.description_with_line_breaks
    .art-piece-buttons
      .art-piece-button-wrapper
        = link_to t('art_pieces.add_to_cart'), '#', class: 'art-piece-buttons__add-to-cart'
      .art-piece-button-wrapper
        = link_to t('art_pieces.make_an_offer'), '', class: 'art-piece-buttons__make-offer'
= render partial: 'art_pieces/show/make_offer_modal', locals: { }
