.artists-wrapper
  - artists.each do |artist|
    .artist-item
      = link_to artist_path(artist), class: 'artist-item__link'
        .artist-item__image-wrapper
          .artist-item__image
            img[class=artist.art_pieces.highlighted.first.decorate.wide_or_tall?
              src=artist.art_pieces.highlighted.first.image.url]
        .artist-item__name
          = artist.name
