.artist-description-wrapper
  .artist-description
    h1.artist-description__name= artist.name
    p.artist-description__description= artist.description
    .artist-description__link
      = link_to t('artist.art_pieces'), gallery_filtered_by_artist_path(artist), class: 'artist-art-pieces'
    .artist-description__link
      a.artist-related-articles href='#' = t('artist.related_articles')
