@mixin respond-above($breakpoint-name) {
  $breakpoint-value: breakpoint($breakpoint-name);

  @if $breakpoint-value != null {
    @media screen and (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn "Missing breakpoint '#{$breakpoint-name}'";
  }
}

@mixin text-size($text-size, $breakpoint-name: "small") {
  $text-size-properties: text-properties-for($text-size, $breakpoint-name);

  @if $text-size-properties != null {
    font-size: map-get($text-size-properties, "font-size");
    line-height: map-get($text-size-properties, "line-height");
  } @else {
    @warn "Breakpoint '#{$breakpoint-name}' for text size '#{$text-size}' is not defined";
  }
}

@mixin responsive-text-size($text-size, $default-breakpoint: "small") {
  @include text-size($text-size, $default-breakpoint);

  $text-breakpoints-map: text-breakpoints-for($text-size);
  $text-breakpoints-keys: map-keys($text-breakpoints-map);

  @each $breakpoint-name in $text-breakpoints-keys {
    @if $breakpoint-name != $default-breakpoint and breakpoint($breakpoint-name) != null {
      @include respond-above($breakpoint-name) {
        @include text-size($text-size, $breakpoint-name);
      }
    }
  }
}

@mixin container {
  @include outer-container;
  @include padding(2.5rem 2.5rem);
}
