h1, .h1,
.text--mega {
  @include responsive-text-size("mega");
}

h2, .h2,
.text--kilo {
  @include responsive-text-size("kilo");
}

h3, .h3,
.text--hecto {
  @include responsive-text-size("hecto");
}

h4, .h4,
.text--deca {
  @include responsive-text-size("deca");
}

h5, .h5,
h6, .h6,
body,
.text--base {
  @include responsive-text-size("base");
}

.text--deci {
  @include responsive-text-size("deci");
}

small,
.text--centi {
  @include responsive-text-size("centi");
}

// Merriweather Article Font
@import url(http://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic);

$merriweather: 'Merriweather', serif;

@mixin article-font($_size, $_weight, $_style: normal) {
  font-family: $merriweather;
  font-size: $_size;
  font-weight: $_weight;
}

@mixin article-font-light($_size: 12px) {
  @include article-font($_size, 300)
}

@mixin article-font-light-italic($_size: 12px) {
  @include article-font($_size, 300, italic)
}

@mixin article-font-normal($_size: 14px) {
  @include article-font($_size, 400)
}

@mixin article-font-normal-italic($_size: 14px) {
  @include article-font($_size, 400, italic)
}

@mixin article-font-bold($_size: 14px) {
  @include article-font($_size, 700)
}

@mixin article-font-bold-italic($_size: 14px) {
  @include article-font($_size, 700, italic)
}

// Quicksand Header Font
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

$quicksand: 'Quicksand', sans-serif;

@mixin header-font($_size, $_weight) {
  font-family: $quicksand;
  font-size: $_size;
  font-weight: $_weight;
}

@mixin header-font-light($_size: 30px) {
  @include header-font($_size, 300);
}

@mixin header-font-normal($_size: 30px) {
  @include header-font($_size, 400);
}

@mixin header-font-bold($_size: 30px) {
  @include header-font($_size, 700);
}

// Montserrat font
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
$montserrat: 'Montserrat', sans-serif;

@mixin montserrat($_weight: 400) {
  font-family: $montserrat;
  font-weight: $_weight;
}

@mixin merriweather($_weight: 300) {
  font-family: $merriweather;
  font-weight: $_weight;
}
