button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:hover {
    opacity: 1;
    background: none;
  }
  &:active {
    transition: 0;
    background: rgba(0,0,0,.1);
  }
  &:focus {
    outline: none;
  }
}
