footer
  .footer-social.footer-section
    a.footer-link.footer-social-link href='https://www.facebook.com/socontemporaryart'
      i.fa.fa-facebook
    a.footer-link.footer-social-link href='https://twitter.com/so_contemporary'
      i.fa.fa-twitter
    a.footer-link.footer-social-link href='http://instagram.com/so_contemporary'
      i.fa.fa-instagram
  .footer-about.footer-section
    a.footer-link.footer-about-link href='#'= t('footer.about_us')
    a.footer-link.footer-about-link href='#'= t('footer.contact')
    a.footer-link.footer-about-link href='#'= t('footer.returns_and_terms')
    a.footer-link.footer-about-link href='#'= t('footer.so_contemporary_art')
