nav
  ul.nav-items.primary
    li.nav-logo.nav-item
      a href='/'
        img.so-logo src="#{image_path('so-logo.jpg')}"
    li.nav-item
      a.nav-link href=gallery_path = t('navigation.gallery')
    li.nav-item
      a.nav-link href=artists_path = t('navigation.artists')
    li.nav-item
      a.nav-link href='#'= t('navigation.shop')
    li.nav-item
      a.nav-link href='#'= t('navigation.channel')
    li.nav-item
      a.nav-link href='#'= t('navigation.articles')
  ul.nav-items.secondary
    li.nav-item.nav-menu
      button.nav-menu-button[type='button' role='button' aria-label='Toggle Navigation']
        span.nav-menu-button__lines
    li.nav-logo.nav-item
      a href='/'
        img.so-logo src="#{image_path('so-logo.jpg')}"
    li.nav-cart.nav-item
      button.nav-cart-button
        i.fa.fa-shopping-cart
  .nav-overlay-items
    ul
      li.nav-overlay-item.nav-overlay-logo
        a href='/'
          img.so-logo src="#{image_path('so-logo.jpg')}"
      li.nav-overlay-item
        a.nav-link href=gallery_path = t('navigation.gallery')
      li.nav-overlay-item
        a.nav-link href=artists_path = t('navigation.artists')
      li.nav-overlay-item
        a.nav-link href='#'= t('navigation.shop')
      li.nav-overlay-item
        a.nav-link href='#'= t('navigation.channel')
      li.nav-overlay-item
        a.nav-link href='#'= t('navigation.articles')
