$red: #E30613;
$red-transparent: hsla(356, 94.8%, 45.7%, .85);
$white: #FFFFFF;
$white-transparent: rgba(255, 255, 255, .95);
$white-to-red: hsl(356, 94.8%, 80%);

$gray: #5c5c5c;
// TODO Change this to hsla so it's not transparent but lighter
$white-to-gray: rgba(92, 92, 92, .85);
$dark-gray: #222;
$light-gray: #999;

$black: #000000;
$transparent: rgba(0, 0, 0, 0);

// Compass
$base-font-size: 16px;
$base-line-height: 20px;

// http://maketea.co.uk/2014/11/05/managing-responsive-typography-with-sass.html
$text-sizing: (
  mili: (
    small: (
      font-size: 0.625rem,
      line-height: 1
    )
  ),
  centi: (
    small: (
      font-size: 0.75rem,
      line-height: 1
    )
  ),
  deci: (
    small: (
      font-size: 0.875rem,
      line-height: 1.25
    )
  ),
  base: (
    small: (
      font-size: 1rem,
      line-height: 1.25
    ),
    medium: (
      font-size: 1rem,
      line-height: 1.375
    )
  ),
  deca: (
    small: (
      font-size: 1.125rem,
      line-height: 1.111
    ),
    medium: (
      font-size: 1.125rem,
      line-height: 1.222
    )
  ),
  hecto: (
    small: (
      font-size: 1.375rem,
      line-height: 1.136
    ),
    medium: (
      font-size: 1.5rem,
      line-height: 1.25
    ),
    large: (
      font-size: 1.75rem,
      line-height: 1.25
    )
  ),
  kilo: (
    small: (
      font-size: 1.625rem,
      line-height: 1.154
    ),
    medium: (
      font-size: 2rem,
      line-height: 1.25
    ),
    large: (
      font-size: 2.25rem,
      line-height: 1.25
    )
  ),
  mega: (
    small: (
      font-size: 2rem,
      line-height: 1.25
    ),
    medium: (
      font-size: 2.5rem,
      line-height: 1.125
    ),
    large: (
      font-size: 3rem,
      line-height: 1.05
    )
  )
);
