@mixin button($from: $white, $to: $dark-gray) {
  @include responsive-text-size("centi");
  @include montserrat;
  @include padding(2em);
  display: block;
  background-color: $from;
  border: 2px solid $to;
  color: $to;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  @include transition-property(background-color, color);
  @include transition-delay(0s);
  @include transition-duration(0.1s);
  @include transition-timing-function(linear);
  &:hover {
    background-color: $to;
    color: $from;
  }
}

@mixin transparent-to-white-button($_hover-text-color: $black) {
  @include button($transparent, $white);
  &:hover {
    color: $_hover-text-color;
  }
}
