@import 'link';

$footer-height: 4em;
footer {
  @include padding(1.5em 1.5em);
  @include position(relative, null null null null);
  margin-top: -$footer-height;
  margin-right: 0;
  height: $footer-height;
  width: 100%;
  background-color: white;
  z-index: 200;
}

.footer-section {
  display: inline-block;
}

.footer-link {
  @include margin(0 1.5em);
  @include gray-to-red-link;
}

.footer-about {
  float: right;
}

.footer-about-link {
  @include montserrat;
  @include responsive-text-size("mili");
  letter-spacing: 0.05em;
}
