@mixin link {
  text-decoration: none;
}

@mixin from-to-link($from, $to) {
  @include link;
  color: $from;
  &:hover {
    color: $to;
  }
}

@mixin gray-to-red-link {
  @include from-to-link($gray, $red);
}

@mixin grey-to-red-link {
  @include gray-to-red-link;
}

@mixin red-to-gray-link {
  @include from-to-link($red, $gray);
}

@mixin red-to-grey-link {
  @include red-to-gray-link;
}
