@mixin modal {

}

$overlay-z-index: 500;
$transition: .3s;

@mixin _line($_color: $white) {
  display: inline-block;
  width: $button-size;
  height: $button-size/12;
  background: $_color;
  @include transition($transition);
}

@mixin overlay-modal($_background-color: $red-transparent) {
  @include position(fixed, 0 0 0 0);
  @include padding(1.5rem 0 0);
  background-color: $_background-color;
  height: 100%;
  list-style-type: none;
  opacity: 0;
  overflow-y: scroll;
  @include transition($transition);
  visibility: hidden;
  width: 100%;
  z-index: $overlay-z-index;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  .so-logo {
    height: 3rem;
  }
}

@mixin overlay-modal-link($_color: $white, $_hover_color: $white-to-red) {
  color: $_color;
  &:hover {
    color: $_hover_color
  }
}

@mixin overlay-modal-close($_size: 2.4rem, $_color: $white, $_hover_color: $white-to-red) {
  background: none;
  display: inline-block;
  line-height: 0;
  padding: ($button-size/2 + $button-size/12) $button-size/4;
  @include transition(.3s);
  cursor: pointer;
  user-select: none;
  z-index: 900;
  position: absolute;
  top: 22px;
  right: 25px;

  &:hover {
    opacity: 1;
    background: none;
  }

  &:focus {
    outline: none;
  }

  .close-overlay-modal-button__lines {
    &:after, &:before {
      background: $_color;
    }
  }
  &:hover {
    .close-overlay-modal-button__lines {
      &:after, &:before {
        background: $_hover-color;
      }
    }
  }

  .close-overlay-modal-button__lines {

    @include _line($_color);
    position: relative;

    &:before, &:after {
      @include _line($_color);
      position: absolute;
      left:0;
      content: '';
    }

    background: none;

    &:before, &:after {
      @include transform-origin(50% 50%);
      top:0;
      width: $button-size;
    }

    &:before {
      @include transform(rotate3d(0, 0, 1, 45deg));
    }
    &:after {
      @include transform(rotate3d(0, 0, 1, -45deg));
    }
  }
}

@mixin overlay-z-index($_position: relative) {
  position: $_position;
  z-index: $overlay-z-index + 1;
}
