$navbar-line-height: 3rem;

// Primary Navigation

nav {
  @include padding(1.5rem 1.5rem);
  display: block;
  overflow: hidden;
  width: 100%;
  background-color: white;
  z-index: 200;
}

.nav-items {
  list-style-type: none;
}

.nav-items.primary {
  display: none;
  @media (min-width: breakpoint(large)) {
    display: block;
  }
}

.nav-logo {
  display: inline-block;
  img {
    @include size(auto $navbar-line-height);
  }
}

.nav-item {
  display: inline-block;
  @include padding(0 1.5rem);
  vertical-align: top;

  @include montserrat;
  @include responsive-text-size("centi");
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.nav-link {
  @include gray-to-red-link;
  display: block;
  line-height: $navbar-line-height;
}

// Secondary Navigation

.nav-items.secondary {
  @media (min-width: breakpoint(large)) {
    display: none;
  }
  .nav-logo {
    text-align: center;
    @include position(absolute, null 0 null);
    width: 100%;
  }
}

$transition: .3s;
.navigation-overlayed .nav-logo {
  @include transition(visibility $transition step-end);
  visibility: hidden;
}

.nav-item {
  @media (max-width: breakpoint(large)) {
    width: 50%;
  }
}

// Menu


.nav-overlay-items {
  @include overlay-modal;
  text-align: center;
}

.nav-overlay-item {
  @include padding(2rem 0);
  &.nav-overlay-logo{
    @include padding(0 0 2rem);
  }
  display: block;
  .nav-link {
    @include responsive-text-size("mega");
    @include montserrat;
    @include overlay-modal-link;
    display: inline;
  }
}

$button-size : $navbar-line-height * 0.8;

.nav-menu-button {
  background: none;
  display: inline-block;
  line-height: 0;
  margin-left: -1rem;
  padding: ($button-size/2 + $button-size/12) $button-size/4;
  @include transition(.3s);
  cursor: pointer;
  user-select: none;
  z-index: 900;
  position: relative;

  &:hover {
    opacity: 1;
    background: none;
    .nav-menu-button__lines {
      background: $red;
      &:after, &:before {
        background: $red;
      }
    }
  }

  &:focus {
    outline: none;
  }
}

nav.open {
  .nav-menu-button {
    .nav-menu-button__lines {
      &:after, &:before {
        background: $white;
      }
    }
    &:hover {
      .nav-menu-button__lines {
        &:after, &:before {
          background: $white-to-red;
        }
      }
    }
  }
}

@mixin line {
  display: inline-block;
  width: $button-size;
  height: $button-size/12;
  background: $gray;
  @include transition($transition);
}

.nav-menu-button__lines {

  @include line;
  position: relative;

  &:before, &:after {
   @include line;
    position: absolute;
      left:0;
    content: '';
  }

  &:before { top: $button-size/3.5; }
  &:after { top: -$button-size/3.5; }
}

.nav-menu-button.close .nav-menu-button__lines {

  background: none;

  &:before, &:after{
    @include transform-origin(50% 50%);
    top:0;
    width: $button-size;
  }

  &:before{
    @include transform(rotate3d(0, 0, 1, 45deg));
  }
  &:after{
    @include transform(rotate3d(0, 0, 1, -45deg));
  }
}

// Cart

.nav-cart {
  text-align: right;
}

.nav-cart-button {
  padding: .5rem 0;
  color: $gray;
  font-size: 2rem;
  &:hover {
    color: $red;
  }
}
