html, body {
  height: 100%;
}
.overlayed {
  overflow: hidden;
}

.wrapper {
  height: auto;
  min-height: 100%;
  padding-bottom: $footer-height;
}

.outer-container {
  @include outer-container;
}
