.art-pieces-wrapper {
  @include padding(1.5rem 1.5rem);
  @include clearfix;
}

.art-piece-item {
  @include padding(1rem 1rem);
  width: 100%;
  @include responsive-text-size("base");
  @media(min-width: breakpoint(medium)) {
    width: 50%;
    @include responsive-text-size("base");
  }
  @media(min-width: breakpoint(large)) {
    width: 33%;
    @include responsive-text-size("deci");
  }
  @media(min-width: breakpoint(x-large)) {
    width: 25%;
    @include responsive-text-size("deci");
  }
  @media(min-width: breakpoint(xx-large)){
    width: 20%;
    @include responsive-text-size("deci");
  }
  float: left;
}

.art-piece-item__art-piece-link {
  @include montserrat;
  @include gray-to-red-link;
  display: block;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.art-piece-item__image-wrapper {
  @include position(relative);
  @media(min-width: breakpoint(medium)) {
    padding-bottom: 100%;
  }
}

.art-piece-item__image {
  @include clearfix;
  img {
    @media(min-width: breakpoint(medium)) {
      @include transform(translate(-50%, -50%));
      position: absolute;
      left: 50%;
      top: 50%;
      &.wide {
        height: auto;
        width: 100%;
      }
      &.tall {
        height: 100%;
        width: auto;
      }
    }
    height: auto;
    width: 100%;
  }
}

// TODO
// Adjust typography
// Refactor typography
.art-piece-item__name {
  @include padding(1em null);
  @include merriweather;
  text-align: center;
}

.art-piece-item__ {
  &author, &price {
    @include responsive-text-size("centi");
    display: inline-block;
    text-transform: uppercase;
  }

  &price {
    float: right;
  }
}

// Art Piece Show
.art-piece-wrapper {
  @include container;
}

@media(min-width: breakpoint(large)) {
  .art-piece-image, .art-piece-description {
    @include span-columns(6);
  }
}

.art-piece-description {
  @include merriweather;
  color: $gray;
}

.art-piece-image {
  img {
    width: 100%;
  }
}

.art-piece-description__name {
  @include montserrat(300);
  @include margin(2rem 0 1rem);
  color: $dark-gray;
  @media(min-width: breakpoint(large)) {
    @include margin(0 0 1rem);
  }
}

.art-piece-description__author {
  @include montserrat(400);
  color: $light-gray;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  @include margin(0 0 2rem);
}

.art-piece-description__price {
  @include margin(0 0 1rem);
}

.art-piece-description__description {
  @include responsive-text-size("centi");
  line-height: 1rem;
  @include margin(0 0 3rem);
  @media(min-width: breakpoint(large)) {
    @include margin(0 0 5rem);
  }
}

.art-piece-buttons {

}

.art-piece-button-wrapper {
  @media(min-width: breakpoint(large)) {
    display: inline-block;
    width: 50%;
  }
  @include margin(0 0 1rem 0);
}

.art-piece-buttons__add-to-cart, .art-piece-buttons__make-offer {
  @include button;
}

.art-piece-buttons__add-to-cart {
  @media(min-width: breakpoint(large)) {
    margin-right: 1rem;
  }
}

.art-piece-buttons__make-offer {
  @media(min-width: breakpoint(large)) {
    margin-left: 1rem;
  }
}

$transition: .3s;
.art-piece-make-an-offer-modal {
  // @include position(fixed, 0 0 0 0);
  // font-size: 16px;
  // width: 100%;
  // height: 100%;
  // z-index: 900;
  // background-color: $red-transparent;
  // @include transition($transition);
  // opacity: 0;
  // visibility: hidden;
  // &.open{
  //   opacity: 1;
  //   visibility: visible;
  // }
  @include overlay-modal($white-transparent)
}

.art-piece-make-an-offer-modal__close-button {
  @include overlay-modal-close($_size: 2.4rem, $_color: $light-gray, $_hover-color: $gray);
}

.art-piece-make-an-offer-modal__inner {
  margin: auto;
  margin-top: 6em;
  @include padding(0 2.5em);
  @media(min-width: breakpoint(medium)) {
    @include padding(0 5em);
  }
  @media(min-width: breakpoint(x-large)) {
    @include padding(0);
    width: 50%;
  }
  min-height: 100px;
  color: $gray;
}

.art-piece-make-an-offer-modal__header {
  @include montserrat;
}

.art-piece-make-an-offer-modal__form {
  margin-top: 4rem;
  .fieldset {
    margin-top: 2rem;
  }

  label {
    @include responsive-text-size("kilo");
    @include montserrat;
    display: block;
  }
  input, textarea {
    @include merriweather;
    width: 100%;
    &:focus {
      border-color: $gray;
      box-shadow: $gray;
    }
  }
  button {
    @include button;
    width: 100%;
    @media (min-width: breakpoint(large)) {
      width: 50%;
    }
    @media (min-width: breakpoint(x-large)) {
      width: 20em;
    }
  }
}
