// Artists Index
.artists-wrapper {
  @include padding(1.5em 1.5em);
  @include clearfix;
}

.artist-item {
  @include padding(1em 1em);
  width: 100%;
  @media(min-width: breakpoint(medium)) {
    width: 50%;
  }
  @media(min-width: breakpoint(large)) {
    width: 33%;
  }
  @media(min-width: breakpoint(x-large)) {
    width: 25%;
  }
  @media(min-width: breakpoint(xx-large)){
    width: 20%;
  }
  float: left;
}

.artist-item__link {
  @include gray-to-red-link;
}

.artist-item__image-wrapper {
  @include position(relative);
  padding-bottom: 100%;
}

.artist-item__image {
  @include position(absolute, 1px 1px);
  overflow: hidden;
  img {
    @include transform(translate(-50%, -50%));
    position: absolute;
    left: 50%;
    top: 50%;
    &.wide {
      height: 100%;
      width: auto;
    }
    &.tall {
      height: auto;
      width: 100%;
    }
  }
}

.artist-item__name {
  @include padding(1em null);
  @include montserrat;
  @include responsive-text-size("centi");
  letter-spacing: 0.05em;
  text-align: center;
}

// Artists Show
.artist-wrapper {
  background-size: cover;
  @include clearfix;
}

.artist-description-wrapper {
  @include padding(2.5em);
}

.artist-description {
  @include padding(1.5em);
  width: 100%;
  @media(min-width: breakpoint(medium)) {
    width: 70%;
  }
  @media(min-width: breakpoint(large)) {
    width: 50%;
  }
  @media(min-width: breakpoint(x-large)) {
    width: 40%;
  }
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.artist-description__name {
  @include montserrat;
}

.artist-description__description {
  @include padding(2rem 0 0);
  @include responsive-text-size("deci");
  @include merriweather;
  text-shadow: 1px 1px #000;
  line-height: 1.4;
}

.artist-description__link {
  display: block;
  width: 100%;
  @include margin(2em 0 0);
  &:first-of-type {
    @include margin(3em 0 0);
  }
  @media (min-width: breakpoint(small)) {
    @include margin(3em 0 0);
    display: inline-block;
    width: 50%;
  }
  a {
    @include transparent-to-white-button;
    @media (min-width: breakpoint(small)) {
      &.artist-art-pieces {
        @include margin(0 2em 2em 0);
      }
      &.artist-related-articles {
        @include margin(0 0 2em 2em);
      }
    }
  }
}
