.art-piece-make-an-offer-modal
  = render partial: 'shared/overlay_modal_close_button', locals: { html: { class: 'art-piece-make-an-offer-modal__close-button', modal_class: 'art-piece-make-an-offer-modal' } }
  .art-piece-make-an-offer-modal__inner
    h1.art-piece-make-an-offer-modal__header Make an offer
    form[action='get' url='#' class='art-piece-make-an-offer-modal__form']
      .art-piece-make-an-offer-modal__email.fieldset
        = label_tag 'email', 'Your email'
        = email_field_tag 'email', nil, placeholder: 'john.smith@gmail.com'
      .art-piece-make-an-offer-modal__message.fieldset
        = label_tag 'message', 'Message body'
        = text_area_tag 'message', "Dear Sir/Madam, I'd like to make an offer of #{price_in_pounds(art_piece.price)} for #{art_piece.name} by #{art_piece.artist.name}", rows: 6
      .art-piece-make-an-offer-modal__send.fieldset
        = button_tag "Send offer"
