doctype html
html lang="en"
  head
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1.0" name="viewport" /
    title= content_for?(:title) ? yield(:title) : t('so_contemporary_art')
    = stylesheet_link_tag 'application'
    / = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
    = javascript_include_tag :modernizr
    = csrf_meta_tags
  body
    .artist-wrapper.wrapper[style="background-image:url('#{artist.art_pieces.highlighted.first.image.url}');"]
      = render 'shared/navigation'
      = yield
    = render 'shared/footer'
    = javascript_include_tag 'application'
